In [1]:
import pandas as pd
import networkx as nx
import requests

In [2]:
iad_url = "https://api.aviationapi.com/v1/preferred-routes/search?origin=IAD"
response_iad = requests.get(iad_url)
iad = response_iad.json()
iad_data = pd.DataFrame(iad)
iad_data

,origin,route,destination,hours1,hours2,hours3,type,area,altitude,aircraft,flow,seq,d_artcc,a_artcc
0,IAD,IAD WOOLY2 AGARD SIE V139 HTO 21N,21N,None,None,None,L,None,None,None,None,1,ZDC,ZNY
1,IAD,IAD WOOLY2 SWANN BROSS Q419 RBV Q430 RIFLE DEE...,ACK,None,None,None,H,None,None,None,None,1,ZDC,ZBW
2,IAD,IAD JCOBY4 SWANN BROSS Q419 RBV Q22 LLUND TRUD...,ALB,1100-0400,None,None,H,None,PART 121 AND 129 ONLY,TURBOJETS,None,1,ZDC,ZBW
3,IAD,IAD CLTCH3 FLASK OZZZI1 ATL,ATL,None,None,None,H,None,None,TURBOJETS,None,2,ZDC,ZTL
4,IAD,IAD CLTCH3 MAULS Q40 ALEAN VXV SQS SWB LUKKN W...,AUS,None,None,None,H,None,None,None,None,1,ZDC,ZHU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,IAD,IAD CLTCH3 MAULS Q40 ALEAN VXV TYS,TYS,1100-0300,None,None,H,None,None,TURBOJETS,None,1,ZDC,ZTL
108,IAD,IAD JERES2 JERES J227 ULW SYR ART DEANS-STAR YOW,YOW,None,None,None,H,None,None,None,None,1,ZDC,CZU
109,IAD,IAD JCOBY4 SWANN BROSS Q419 RBV Q22 LLUND CAM ...,YUL,None,None,None,H,PART 121 AND 129 ONLY,None,None,None,1,ZDC,CZU
110,IAD,IAD JERES2 JERES J227 ULW SYR ART IMPAC-STAR YUL,YUL,None,None,None,H,None,None,None,None,2,ZDC,CZU
111,IAD,IAD JERES2 JERES J220 SFK WOZEE LINNG-STAR YYZ,YYZ,None,None,None,H,None,None,None,None,1,ZDC,CZY

In [3]:
bwi_url = "https://api.aviationapi.com/v1/preferred-routes/search?origin=BWI"
response_bwi = requests.get(bwi_url)
bwi = response_bwi.json()
bwi_data = pd.DataFrame(bwi)
bwi_data

,origin,route,destination,hours1,hours2,hours3,type,area,altitude,aircraft,flow,seq,d_artcc,a_artcc
0,BWI,BWI PALEO3 SIE V139 HTO 21N,21N,None,None,None,L,None,None,None,None,1,ZDC,ZNY
1,BWI,BWI V93 LRP V39 ETX ABE,ABE,None,None,None,TEC,None,7000,None,None,1,ZDC,ZNY
2,BWI,BWI SWANN3 SWANN BROSS Q419 RBV Q430 RIFLE DEE...,ACK,None,None,None,H,None,None,None,None,3,ZDC,ZBW
3,BWI,BWI POLLA V312 PALEO V44 SIE V139 HTO V46 ACK,ACK,1100-0300,None,None,L,None,90-170 INCL,None,None,1,ZDC,ZBW
4,BWI,BWI POLLA V312 GOLDA T358 ENO V16 JFK V229 BDR...,ACK,None,None,None,L,None,7000,None,None,2,ZDC,ZBW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,BWI,BWI SWANN3 SWANN MAZIE3 TEB,TEB,1100-0300,None,None,L,TO TETERBORO METRO (TEB.CDW.LDJ.MMU.SMQ.47N),None,TURBOPROPS,None,2,ZDC,ZNY
144,BWI,BWI BAL V378 MXE V3 SBJ TEB,TEB,None,None,None,TEC,TO TETERBORO METRO (TEB.CDW.LDJ.MMU.SMQ.47N),7000,PROPS,None,1,ZDC,ZNY
145,BWI,BWI TERPZ7 RRSIN GSO Q75 TEUFL BAAMF DADES1 TPA,TPA,None,None,None,H,None,None,None,None,1,ZDC,ZMA
146,BWI,BWI TERPZ7 MAULS Q40 ALEAN VXV TYS,TYS,1100-0300,None,None,H,None,None,TURBOJETS,None,1,ZDC,ZTL
147,BWI,BWI V44 MRB V143 MOL ROA V16 TYS,TYS,1100-0300,None,None,L,None,None,None,None,1,ZDC,ZTL

In [4]:
dca_url = "https://api.aviationapi.com/v1/preferred-routes/search?origin=DCA"
response_dca = requests.get(dca_url)
dca = response_dca.json()
dca_data = pd.DataFrame(dca)
dca_data

,origin,route,destination,hours1,hours2,hours3,type,area,altitude,aircraft,flow,seq,d_artcc,a_artcc
0,DCA,DCA DOCTR5 AGARD SIE V139 HTO 21N,21N,None,None,None,L,None,None,None,None,1,ZDC,ZNY
1,DCA,DCA KRANT V265 EMI V457 LRP V39 ETX FJC ABE,ABE,1100-0300,None,None,L,None,None,None,None,1,ZDC,ZNY
2,DCA,DCA SOOKI5 SWANN BROSS Q419 RBV Q430 RIFLE DEE...,ACK,None,None,None,H,None,None,None,None,3,ZDC,ZBW
3,DCA,DCA DOCTR5 AGARD V44 SIE V139 HTO V46 ACK ACK,ACK,1100-0300,None,None,L,None,90-170,None,None,1,ZDC,ZBW
4,DCA,DCA POLLA V312 GOLDA T358 ENO V16 JFK V229 BDR...,ACK,None,None,None,L,None,70,None,None,2,ZDC,ZBW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,DCA,DCA JDUBB4 RRSIN GSO Q75 TEUFL BAAMF DADES1 TPA,TPA,None,None,None,H,None,None,None,None,1,ZDC,ZMA
160,DCA,DCA CLTCH3 MAULS Q40 ALEAN VXV TYS,TYS,1100-0300,None,None,H,None,None,TURBOJETS,None,1,ZDC,ZTL
161,DCA,DCA HORTO4 JERES J227 ULW SYR ART DEANS-STAR YOW,YOW,None,None,None,H,None,None,None,None,1,ZDC,CZU
162,DCA,DCA SOOKI5 SWANN BROSS Q419 RBV Q22 LLUND CAM ...,YUL,None,None,None,H,None,None,None,None,1,ZDC,CZU
163,DCA,DCA HORTO4 JERES J220 SFK WOZEE LINNG-STAR YYZ,YYZ,None,None,None,H,None,None,None,None,1,ZDC,CZY

In [33]:
origin = pd.concat([iad_data,dca_data,bwi_data])
origin

,origin,route,destination,hours1,hours2,hours3,type,area,altitude,aircraft,flow,seq,d_artcc,a_artcc
0,IAD,IAD WOOLY2 AGARD SIE J121 BRIGS Q439 SARDI V13...,21N,None,None,None,L,None,None,None,None,1,ZDC,ZNY
1,IAD,IAD WOOLY2 AGARD SIE J121 BRIGS Q439 SARDI V13...,3B9,None,None,None,L,None,None,None,None,1,ZDC,None
2,IAD,IAD WOOLY2 SWANN BROSS Q419 RBV Q430 RIFLE DEE...,ACK,None,None,None,H,None,None,None,None,1,ZDC,ZBW
3,IAD,IAD JCOBY4 SWANN BROSS Q419 RBV Q22 LLUND TRUD...,ALB,1100-0400,None,None,H,None,PART 121 AND 129 ONLY,TURBOJETS,None,1,ZDC,ZBW
4,IAD,IAD CLTCH3 FLASK OZZZI1 ATL,ATL,None,None,None,H,None,None,TURBOJETS,None,2,ZDC,ZTL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,BWI,BWI SWANN3 SWANN MAZIE3 TEB,TEB,1100-0300,None,None,L,TO TETERBORO METRO (TEB.CDW.LDJ.MMU.SMQ.47N),None,TURBOPROPS,None,2,ZDC,ZNY
143,BWI,BWI BAL V378 MXE V3 SBJ TEB,TEB,None,None,None,TEC,TO TETERBORO METRO (TEB.CDW.LDJ.MMU.SMQ.47N),7000,PROPS,None,1,ZDC,ZNY
144,BWI,BWI TERPZ7 RRSIN GSO Q75 TEUFL BAAMF DADES1 TPA,TPA,None,None,None,H,None,None,None,None,1,ZDC,ZMA
145,BWI,BWI TERPZ7 MAULS Q40 ALEAN VXV TYS,TYS,1100-0300,None,None,H,None,None,TURBOJETS,None,1,ZDC,ZTL
146,BWI,BWI V44 MRB V143 MOL ROA V16 TYS,TYS,1100-0300,None,None,L,None,None,None,None,1,ZDC,ZTL

In [34]:
g=nx.Graph()

In [35]:
g=nx.from_pandas_edgelist(origin, "origin","destination")

In [36]:
nx.write_graphml(g,"origins.graphml")

185